
```{=html}

<% for (const item of items) { %>

<h2>Packages on <%- item.category %></h2>

<div class="list grid">

<% for (const package of item.packages) { %>

  <div class="card-borderless g-col-2">
      <img src="<%- package.logo %>" class="img-fluid rounded-start" alt="<%- package.name %> hex logo">
      <a href="<%- package.link %>" class="stretched-link"></a>
  </div>
  <div class="card-borderless g-col-10">
    <div class="card-body">
      <h5 class="card-title"><%- package.name %>: <%- package.info %></h5>
        <% if(package.coauthors){ %> 
          <p class="card-text">(with <%- package.coauthors %>)</p>
        <% } %>
    </div>
  </div>
  
<% } %>

</div>

<% } %>

```