
```{=html}

<% for (const item of items) { %>

<h2>Packages on <%- item.category %></h2>

<div class="container">

<% for (const package of item.packages) { %>
  <div class="row">
    <div class="card g-col-3" style="background-color: red">
      <a href="<%- package.link %>">
      <img src="<%- package.logo %>" alt="<%- package.name %> hex logo" style="height: 100px; object-fit: contain; width: 125px">
      </a>
    </div>
    <div class="card g-col-9">
      <%- package.name %>: <%- package.info %>
        <% if(package.coauthors){ %> (with <%- package.coauthors %>) <% } %>
    </div>
  </div>
<% } %>
</div>

<% } %>

```